{% extends "layout.html" %}

{% block content %}
<form method="POST" action="/new-note"> <!--action is the endpoint or the view-->
    {{form.csrf_token()}}
    <div class="panel-body note-editor__panel-body">
        {% if form.errors %}
        <p class="validation-summary-errors">Please enter a correct user name and password.</p>
        {% endif %}
    </div>

    <div class="mb-3">
        <label class="form-label ">Subject</label>
        {{form.subject(class="form-control note-editor__subject-input", id ="id_subject")}}
    </div>

    <div class="mb-3">
        <label class="form-label">Detail</label>
        {{form.detail(class="form-control note-editor__detail-input", rows ="12", cols="20", id="id_detail")}}
    </div>

    <div class="panel-footer">
        <div class="note-editor__flex-container">
          <a class="btn btn-sm btn-secondary" href="{{ url_for('home') }}">Cancel </a>
          <button class="btn btn-sm btn-secondary" type="submit">Save Note</button>
        </div>
    </div>

</form>

{% endblock %}