{% extends "layout.html" %}

{% block content %}
<div class="container">
    <hr/>

    <div>
        {{note.subject}}
    </div>
    <hr/>
    <div class="panel-body">
        <div>
            <span class="note-detail__created-date">
            Created On:
            </span>
            <span class="note-detail__created-date">
            {{note.created_date}}
            </span>
            <span class="note-detail__modified-date">
            {{note.last_modified}}
            </span>
            <span class="note-detail__modified-date">
            Last Modified On:&nbsp;
            </span>
        </div>
        <hr/>
        <div style="word-wrap: break-word;">
        {{note.detail}}
        </div>
    </div>
    <div class="button-separation" align="right">
          <a class="btn btn-secondary btn-sm" href="{{ url_for('entry_point') }}">
            Back to List
          </a>
  
          <a class="btn btn-secondary btn-sm" href="/note/{{note.id}}/edit/">
            Edit Note
          </a>

          <a class="btn btn-secondary btn-sm" href="/note/{{note.id}}/delete/">
            Delete Note
          </a>
    </div>
</div>
{% endblock %}