.card a:hover {
   background-color: grey;
   color: white;
}

.button-separation {
    margin-top: 20px;
}


/* Index Page */
.index__list-item-link {
    color: black;
}


.index__card-body {
    margin: 20px;
}
