.card a:hover {
   background-color: grey;
   color: white;
}


.button-separation {
    margin-top: 20px;
}


.index__list-item-link {
    color: black;
}


.index__card-body {
    margin: 20px;
}


.note-detail__modified-date {
    float: right;
}
